.hero-slider {
  height: 100vh;
  max-height: 1080px;
  overflow: hidden;
  position: relative;
  margin-bottom: 5rem;

  @include tablet {
    margin: 0;
    margin-top: calc(#{$header-tablet-height} * -1);
    height: 60vh;
  }

  @include mobile {
    margin-top: calc(#{$header-mobile-height} * -1);
    margin-bottom: calc(#{$header-mobile-height} * -3);
    height: 50vh;
  }

  &__item {
    @include flex(center, center);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    inset: 0;

    @include tablet {
      flex-direction: column-reverse;
      padding-top: $header-tablet-height;
    }

    @include mobile {
      padding-top: $header-mobile-height;
      padding-bottom: 40px;
    }

    &.active {
      opacity: 1;
      visibility: visible;
      pointer-events: visible;
    }

    &__info {
      @include flex(center, center);
      z-index: 98;

      @include tablet {
        flex-grow: 1;
      }

      &__image {
        flex-grow: 1;
        position: relative;
        height: 100vh;
        pointer-events: none;

        @include tablet {
          height: 50vh;
        }

        @include mobile {
          height: 40vh;
        }

        img {
          height: 100%;

          @include tablet {
            width: 100%;
            height: auto;
          }
        }
      }

      &__title {
        font-family: "M PLUS Rounded 1c", sans-serif;
        position: absolute;
        text-align: center;
        margin: 0 10rem;
        bottom: 6rem;
        font-size: 4rem;
        color: #ffffff;
        font-weight: 600;
        -webkit-text-stroke: 2px #000;
        overflow: hidden;

        @include tablet {
          font-size: 2.2rem;
          margin: 0 2rem;
        }

        @include mobile {
          bottom: 12rem;
          margin: 0 0rem;
          font-size: 1.2rem;
        -webkit-text-stroke: 1px #000;
        }
      }

      &__title > span,
      &__image {
        display: block;
        transform: translateX(80%);
        transition: transform 0.5s ease;
      }
    }

    &.active &__info {
      &__title > span,
      &__image {
        transform: translateX(0);
      }
    }
  }

  &__control {
    @include flex(center, center);

    position: absolute;
    bottom: 0.1rem;
    left: 45%;
    color: rgb(255, 255, 255);
    font-weight: 500;
    -webkit-text-stroke: 1px #000;
    box-shadow: $box-shadow;
    z-index: 99;

    @include tablet {
      bottom: 3rem;
      left: 43%;
    }

    @include mobile {
      bottom: 10.5rem;
      left: 40%;
      font-weight: 400;
      -webkit-text-stroke: unset;
    }

    &__item ~ &__item {
      margin-left: 10px;
    }

    &__item {
      @include flex(center, center);
      font-size: 2rem;
      cursor: pointer;

      @include mobile {
        font-size: 1rem;
      }

      &:hover {
        color: $main-color;
      }

      .index {
        font-size: 1.5rem;

        @include mobile {
          font-size: 1rem;
        }
      }
    }
  }
}
